/* blogContent.css */


/* Headings */
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  line-height: 1.4;
}

.blog-content h1 { font-size: 2rem; }
.blog-content h2 { font-size: 1.75rem; }
.blog-content h3 { font-size: 1.5rem; }
.blog-content h4 { font-size: 1.25rem; }
.blog-content h5 { font-size: 1.125rem; }
.blog-content h6 { font-size: 1rem; }

/* Paragraphs */
.blog-content p {
  margin-bottom: 0.3rem;
}

/* Lists */
.blog-content ul,
.blog-content ol {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1.25rem;
  list-style-type: disc !important;
}

.blog-content li {
  margin-bottom: 0.2rem;
    list-style-type: disc !important;
}

/* Links */
.blog-content a {
  color: #1d4ed8; /* blue-700 */
  text-decoration: underline;
}

.blog-content a:hover,
.blog-content a:focus {
  color: #2563eb; /* blue-600 */

  outline-offset: 2px;
}

.blog-content h3 strong{
        /* color: #2563eb;  */

  outline-offset: 2px;
}



/* Strong / Emphasis */
.blog-content strong {
  font-weight: bold;
}

.blog-content em {
  font-style: italic;
}
