@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* @tailwind utilities; */

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: unset;
   font-family: "Manrope", sans-serif !important;
  font-optical-sizing: auto;
  /* cursor: none !important; */
}

 
/* Optional global styles */
body {
  margin: 0;
  padding: 0; 


  width: 100%;
  font-smooth: antialiased;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 /* user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;  */
   /* cursor: none !important; */
}


ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}


img {
  pointer-events: none;
  user-drag: none;
  -webkit-user-drag: none;
}
.slick-dots li button:before {
  font-size: 12px; 
  color: #409338; 
}

.slick-dots li.slick-active button:before {
  color: #409338; 
}

/* .transparenbody {
  background: transparent !important;
} */


html {
  scroll-behavior: smooth;
  line-height: normal;
   /* cursor: none !important; */
   /* --cursor-color: #FFBA34; */  
   --cursor-color:#4CAF50;
}

*::-webkit-scrollbar {
    width: 6px;
    background: #F4F6F8;
    border-radius: 99999px;
    -webkit-border-radius: 99999px;
    -moz-border-radius: 99999px;
    -ms-border-radius: 99999px;
    -o-border-radius: 99999px;
}
*::-webkit-scrollbar-thumb {
    background: #12B886;
    /*your--greenvariablehexcolor*/border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  *::-webkit-scrollbar-thumb:hover {
    background: #0C866B;
  }





@media (max-width: 768px) {
  .slick-dots li button:before {
    font-size: 10px;
  }



   #particles{
    height: 50vh !important;

}


}

@media (max-width: 640px) {
  .flip-card {
    width: 100%;
    margin-bottom: 15px;
  }
}
.uiverse-button {
  padding: 10px 20px;
  border: 2px solid transparent; /* Invisible border initially */
  border-radius: 6px;
  color: white;
  z-index: 1;
  background: #4CAF50;
  position: relative;
  font-weight: 600;
  font-size: 17px;
  transition: color 250ms, border-color 250ms;
  overflow: hidden;
}

.uiverse-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  background-color: white;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 350ms;
}

.uiverse-button:hover {
  color: #4CAF50;
  border-color: #4CAF50; /* Green border on hover */
}

.uiverse-button:hover::before {
  transform: scaleX(1);
}
.white-button {
  padding: 10px 20px;
  border: 2px solid transparent; /* Invisible border initially */
  border-radius: 6px;
  background: white;
  z-index: 1;
  color: #4CAF50;
  border-color: #4CAF50;
  position: relative;
  font-weight: 600;
  font-size: 17px;
  transition: color 250ms, border-color 250ms;
  overflow: hidden;
}

.white-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  background-color: #4CAF50;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 350ms;
}

.white-button:hover {
  color: white;
  border-color: #4CAF50; /* Green border on hover */
}

.white-button:hover::before {
  transform: scaleX(1);
}
